<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <body>
      <h1 style="font-family: 'Kaushan Script'; transform: translateX(390px); font-size: 95px; color: white;">Devil's Locations</h1>
    <div class="signer">
     <form action="http://localhost:8083/">
     <input type="text" placeholder="Enter username" style="border-radius: 15px;"><br><br>
     <input type="password" placeholder="Enter password" style="border-radius: 15px;"><br><br>
     <input type="submit" class="btn btn-danger"value="login">
     </form>



    </div>
  </body>
</html>

<style>
      @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Permanent+Marker|Bree+Serif|Kaushan+Script|Roboto+Slab');

  body{
      background-color: rgb(248, 37, 37);
  }

  .signer{
      padding: 20px;
      margin-top: 25px;
      width: 300px;
      height: 160px;
      background-color: white;
      border-radius: 30px;
      transform: translateX(500px) translateY(150px);
  }



</style>